.Product2 {
    height: 240px;
    width: 370px;

    div {
        height: 198px;
        width: 370px;
    }
    p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: bolder;
        line-height: 18px;
        text-align: left;
    }
}